name: Deploy to server

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: SSH and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/cosmotonic
            git pull
            docker stop $(docker ps -q)
            docker rm $(docker ps -aq)
            docker rmi mysite
            docker build --no-cache -t mysite .
            docker run -d -p 80:80 mysite
